
	body{
		margin:0px;
		padding:0px;
		text-align:center;
		color:#333333;
		font-size:14px;
	}
	header{
		margin:0%;
		width:100%;
		height:40px;
		padding-top:20px;
		background-color:#cccccc;
		color:#333333;
		text-align:center;
	}

	footer{
		margin-top:10%;
		width:100%;
		height:80px;
		background-color:#cccccc;
		clear:both;
	}

	.contents{
		height:100%;
		width:840px;
		margin:0 auto;
	}

	button.oprbtn {
		width:80px;
		height:30px;
		background-color:#bbbbbb;
		color:#333333;
		border-style:none;
		-moz-border-radius: 5px;
		-webkit-borderus: 5px;
		border-radius:5px;
	}

	button.oprbtn:hover {
		width:80px;
		height:30px;
		background-color:#cccccc;
		color:#333333;
		border-style:none;
		-moz-border-radius: 5px;
		-webkit-borderadius: 5px;
		border-radius:5px;
		cursor:pointer;
	}

	table{
		border:2px solid #333333;
		border-collapse:collapse;
		padding:0px;
		margin:0 auto;
		word-break:break-all;
	}

	th{
		border:1px solid #333333;
		background-color:#eeeeee;
	}

	tr,td{
		border:1px solid #333333;
	}


