
	body{
		margin:0px;
		padding:0px;
		text-align:center;
		color:#333333;
		font-size:14px;
	}
	header{
		margin:0%;
		width:100%;
		height:40px;
		padding-top:20px;
		background-color:#cccccc;
		color:#333333;
		text-align:center;
	}

	footer{
		margin-top:10%;
		width:100%;
		height:80px;
		background-color:#cccccc;
		clear:both;
	}

	.contents{
		height:100%;
		width:840px;
		margin:0 auto;
	}